<div class="jumbotron bg-white text-center">
	<h1 class="display-4">Corona Covid19 Tracker Countires</h1>
	<hr>
	<div class="mx-auto">
		<div class="form-group col-lg-5 mx-auto">
			<label for="c">Select Country</label>
			<select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
                                <!-- <option value="">Select Country</option> -->
                                <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
                        </select>
		</div>
	</div>
	<app-dashboard-card [totalConfirmed]='totalConfirmed' [totalRecovered]='totalRecovered'
                        [totalDeaths]='totalDeaths' [totalActive]='totalActive'></app-dashboard-card>

  <div class="card row">
    <div class="col">
      <google-chart [data]="lineChart"></google-chart>
    </div>

    <table class="table col">
      <thead>
        <tr>
        <th>Sr No</th>
        <th>Date</th>
        <th>Cases</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cs of selectedCountryData; index as i">
        <th>{{i+1}}</th>
        <th>{{cs.date | date}}</th>
        <th>{{cs.cases}}</th>
        </tr>
      </tbody>
    </table>
  </div>

</div>